#top {
  margin-left: 8%;
  font-family: Muli, sans-serif;
  font-size: 13px;
}

#content {
  width: 84%;
  height: 370px;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  margin-top: 2.5%;
  gap: 2%;
  font-family: Muli, sans-serif;
}

#img {
  /* border: 1px solid red; */
  width: 48%;
  height: 100%;
}

#rightside {
  width: 50%;
  height: 100%;
  /* border: 1px solid blue; */
}

#up {
  width: 100%;
  height: 40%;
  border: 1px solid rgb(192, 191, 191);
}

#first {
  display: flex;
  gap: 30%;
  margin-top: 4%;
}

#f1 {
  font-size: 20px;
  font-weight: bolder;
}

#f2 {
  display: flex;
}

#s1 {
  margin-top: 3%;
  margin-left: 4%;
}

#s {
  display: flex;
  background-color: green;
  width: 50%;
  height: 25px;
  border-radius: 10%;
}

#second {
  display: flex;
  gap: 61%;
  background-color: rgb(238, 235, 235);
  height: 50%;
  margin-top: 5%;
}

#proceedToCheckout {
  text-align: center;
  padding: 2%;
  font-size: large;
  font-weight: 800;
  background-color: yellow;
  border-radius: 1%;
  border: transparent;
  margin-left: 40%;
  display: none;
}
.fa-star{
    color: white;
    margin-left: 2px;
    margin-right:0px;
}