#mainFooter {
    width: 100%;
    height: 710px;
    background-color: rgb(31, 18, 73);
    font-family: Muli, sans-serif;
    box-sizing: border-box;
    padding: 1px;
}

#f1 {
    margin-left: 13%;
    margin-top: 4%;
    color: rgb(196, 196, 196);
    font-size: 22px;
}

#f2 {
    display: flex;
    gap: 13%;
    font-size: medium;
    line-height: 60%;
    color: whitesmoke;
}

#f21 {
    margin-left: 13%;
}

#f3 {
    display: flex;
    gap: 27%;
    margin-top: 2%;
    color: whitesmoke;
}

#f3 p {
    font-size: 17px;
}

#f31 {
    margin-left: 13%;
}

#f4 {
    width: 74%;
    margin: auto;
    margin-top: 3%;
}

#f5 {
    display: flex;
    gap: 29%;
    font-size: 20px;
    margin-top: 2%;
}

#f51 {
    margin-left: 13%;
    color: rgb(196, 196, 196);
}

#f52 {
    color: rgb(196, 196, 196);
}

#img1 {
    width: 50px;
    height: 50px;
}

#img2 {
    width: 50px;
    height: 50px;
}

#img3 {
    width: 50px;
    height: 50px;
}