* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .topbar {
    width: 100%;
    height: 6vh;
    padding: 0px 3vw;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .topbar > div > a > img {
    width: 100px;
    height: 50px;
  }
  .topbar > div {
    display: flex;
    gap: 40px;
  }
  .topbar > div > a {
    color: gray;
    font-size: 18px;
    padding: 5px;
    width: fit-content;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
  }
  .topbar > div > a:hover {
    color: #111111;
    font-size: 20px;
  }
  
  /* payment box  */
  .container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0px;
    box-sizing: border-box;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  .details h1 {
    font-size: 50px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 10px;
  }
  .details h3 {
    font-size: 25px;
    font-weight: 400;
    font-style: oblique;
    color: #fa5400;
  }
  .pay-box {
    width: 35%;
    height: 80%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .pay-box > div > img {
    width: 100%;
    height: auto;
  }
  .pay-box > div:last-child {
    display: flex;
    flex-direction: column;
  }
  .pay-box > div > div p,
  .pay-box > div > div > div p {
    font-size: 25px;
    color: #111111;
    font-weight: 400;
    padding: 5px;
    box-sizing: border-box;
  }
  .pay-box > div > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pay-box > div > div > input,
  .pay-box > div > div > div > input {
    width: 100%;
    height: 50px;
    padding: 8px;
    font-size: 21px;
    font-weight: 400;
    color: gray;
    border: 1px solid black;
    border-radius: 10px;
  }
  .pay-box > div > div:nth-child(2) > div > input {
    width: 100%;
  }
  .butn {
    margin: 30px 0px;
  }
  .butn > button {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: rgba(7, 112, 3, 0.794);
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    font-size: 23px;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
  }
  .butn > button:hover {
    background-color: rgb(7, 112, 3);
  }
  .pay-box > div > div:nth-child(2) > div > input:focus,
  .pay-box > div > div > input:focus,
  .pay-box > div > div > div > input:focus {
    border: 3px solid rgb(12, 192, 192);
    outline: none;
  }
  .first {
    width: 100%;
    height: 10vh;
  }
  /* footer */
  footer {
    width: 100%;
    height: 40vh;
    background-color: #111111;
  }
  .footer-container {
    max-width: 1500px;
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .upper-footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    padding-top: 30px;
    height: 90%;
  }
  .footer-links {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    flex: 0.7;
  }
  .footer-links div ul {
    list-style: none;
  }
  .footer-links div ul li {
    padding: 4px;
  }
  .footer-links div:nth-child(2) ul li,
  .footer-links div:nth-child(3) ul li {
    padding: 8px;
  }
  .footer-links div ul li a {
    color: rgb(182, 179, 179);
    text-decoration: none;
  }
  .footer-links div ul li {
    font-weight: 400;
    color: rgb(182, 179, 179);
  }
  .footer-links div:nth-child(1) ul li a,
  .footer-links div ul li:nth-child(1) a {
    color: white;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .footer-links div ul li a:hover {
    color: white;
  }
  
  .social-icons ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .social-icons ul li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 254, 254, 0.589);
    margin: 10px;
  }
  .social-icons ul li:hover {
    background-color: white;
  }
  .social-icons ul li a img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    border: none;
  }
  
  @media screen and (max-width: 550px) {
    footer {
      height: fit-content;
    }
    .upper-footer {
      grid-template-columns: auto;
    }
    .footer-links {
      display: grid;
      grid-template-columns: auto;
      grid-row-gap: 30px;
      flex: 0.7;
    }
    .social-icons ul {
      justify-content: flex-start;
      margin: 20px 0px;
    }
    .social-icons ul li {
      padding: 20px;
    }
    .footer-links > div + div {
      padding-top: 20px;
      border-top: 1px solid rgba(128, 128, 128, 0.637);
    }
  
    .footer-links > div:nth-child(1) {
      margin-top: 30px;
    }
    .footer-links div ul li {
      padding: 8px;
    }
    .lower-footer {
      flex-direction: column;
      border: none;
    }
    .cpright-col {
      flex-direction: column;
      justify-content: space-between;
    }
    .cpright-col div i {
      color: white;
    }
    .cpright-col div span {
      color: white;
      padding-right: 25px;
    }
    .about-links ul {
      flex-direction: column;
    }
    .about-links ul li {
      padding-left: 0px;
    }
  }
  